/* Name:        Ave - Main styles Written by: 	LiquidThemes Version:			1.6 */
/* ---------------------------------------- [ TABLE OF CONTENTS ]
 1. BASE
		|- 1.1. Base
		|- 1.2. Header
		|- 1.3. Footer
		|- 1.4. Titlebar

	2. PAGE LAYOUTS
		|- 2.1. Header Side
		|- 2.2. Sidebar
		|- 2.3. Stack

	3. LIQUID SHORTCODES
		|- 3.1. Buttons
		|- 3.2. Social Icons
		|- 3.3. Accordions
		|- 3.4. Icon Boxes
		|- 3.5. Tabs
		|- 3.6. Subscribe Forms
		|- 3.7. Contact Forms
		|- 3.8. Fancy Titles
		|- 3.9. Pricing Tables
		|- 3.10. Testimonials
		|- 3.11. Carousel
		|- 3.12. Carousel Vertical 3d
		|- 3.13. Latest Posts
		|- 3.14. Filter Lists
		|- 3.15. Fancy Boxes
		|- 3.16. Counter
		|- 3.17. Liquid Forms
		|- 3.18. jQuery UI
		|- 3.19. Reservation Form
		|- 3.20. Tour Form
		|- 3.21. Progressbar
		|- 3.22. Milestone
		|- 3.24. Instagram Feed
		|- 3.25. Twitter Feed
		|- 3.26. Banner
		|- 3.27. Image Groups
		|- 3.28. Pagination
		|- 3.29. Blog Grid
		|- 3.31. Masonry
		|- 3.32. Parallax
		|- 3.33. Team Members
		|- 3.34. Portfolios
		|- 3.35. Blog
		|- 3.36. Particles
		|- 3.37. Carousel Laptop
		|- 3.38. Liquid Fancy Heading
		|- 3.39. Row Overlay
		|- 3.40. Maps
		|- 3.41. Custom Animations
		|- 3.42. Masked Image
		|- 3.43. Slideshow BG
		|- 3.44. Custom Menu
		|- 3.45. Shop Banner
		|- 3.46. Carousel Phone
		|- 3.47. Media
		|- 3.48. Modal
		|- 3.49. Before After
		|- 3.50. Process Box
		|- 3.52. Message
		|- 3.53. Flipbox
		|- 3.54. Iconbox Circle
		|- 3.55. Row Separator
		|- 3.56. Roadmap
		|- 3.57. Countdown
		|- 3.58. breadcrumbs
		|- 3.59. Bullet List
		|- 3.60. Video BG
		|- 3.61. Frickin Image
		|- 3.62. Promo
		|- 3.63. Back to Top
		|- 3.64. Separator
		|- 3.65. Restaurant Menu

	4. VC SHORTCODES
		|- 4.1. Single image
		|- 4.2. Columns
		|- 4.3. Rows
		|- 4.4. Text Block

	6. PARTIALS
		|- 6.1. Search Results 
		|- 6.2. 404 Not Found
		|- 6.3. Sidebar
		|- 6.4. Page Frame

	7. RESPONSIVE
		|- 7.1. Header
		|- 7.2. Elements
 ----------------------------------------
 [ TYPOGRAPHY ]
 $font-primary:		'Glacial Indifferenc', 'Open Sans', sans-serif; $font-size: 			16px; $line-height: 		30px; $font-color: 		#808291;
 [ COLORS ] $color-primary: #3ed2a7; $color-secondary: #ffb09f;

----------------------------------------- */
/* 1. BASE */
/* 1.1. Base */
:root {
    --color-font: #efefef;
    --color-link: #7254c9;
    --color-link-hover: darken(#7254c9, 25%);
    --color-img-holder: #efefef;
}

@font-face {
    font-family: 'Noto Sans';
    src: inline-block;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -25px;
    background-color: rgba(0, 0, 0, 0.1);
}

    .carousel-nav-line-between.carousel-nav-vertical .flickity-prev-next-button.previous {
    margin-right: 0;
    margin-bottom: 45px;
}

    .carousel-nav-line-between.carousel-nav-vertical .flickity-prev-next-button.previous:after {
    width: 100%;
    height: 1px;
    top: auto;
    bottom: -25px;
    right: 0;
}

@media screen and (max-width: 991px) {
    .carousel-nav {
        margin-top: 2em !important;
        position: relative !important;
        top: auto !important;
        left: auto !important;
        bottom: auto !important;
        right: auto !important;
        -webkit-transform: none !important;
        transform: none !important;
    }

    .carousel-nav .flickity-button {
        display: -webkit-inline-box !important;
        display: inline-flex !important;
        position: relative !important;
        top: auto !important;
        left: auto !important;
        bottom: auto !important;
        right: auto !important;
        -webkit-transform: none !important;
        transform: none !important;
        margin: 0 15px !important;
    }

    .carousel-nav-right .carousel-nav {
        text-align: left !important;
    }
}

@media screen and (max-width: 767px) {
    .carousel-item:not([class*=col-xs-]) {
        width: 100%;
    }
}

/* 3.13. Latest Posts */
@media screen and (min-width: 992px) {
    .liquid-blog-item-split {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row wrap;
    }

    .liquid-blog-item-split .liquid-lp-media,
    uid-blog-item-split .liquid-blog-item-inner {
        flex-basis: 50%;
    }

    .liquid-blog-item-split .liquid-blog-item-inner {
        padding-left: 50px;
        padding-right: 50px;
    }

    .liquid-blog-item-fullwidth .liquid-blog-item-inner {
        width: 70%;
    }

    .flickity-equal-cells .carousel-item:not(:first-child) .liquid-blog-item-carousel {
        position: absolute;
        top: 0;
        left: 15px;
        right: 15px;
        height: 100%;
    }

    .liquid-blog-item-square .liquid-lp-title {
        font-size: 33px;
    }

    .col-md-6 > .liquid-blog-item-square .liquid-blog-item-inner {
        padding-left: 45px;
        padding-right: 45px;
    }

    .col-md-3 > .liquid-blog-item-square .liquid-blog-item-inner {
        padding-bottom: 11%;
    }

    .col-md-3 > .liquid-blog-item-square .liquid-lp-title {
        font-size: 18px;
        line-height: 1.666em;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .liquid-blog-item-masonry {
        min-height: 400px !important;
    }
}

@media screen and (max-width: 1199px) {
    .ld-lp-carousel-filterable .filter-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-flow: column nowrap;
    }

    .ld-lp-carousel-filterable .filter-list li {
        width: 100%;
        text-align: left;
    }

    .ld-lp-carousel-filterable .carousel-items {
        margin-top: 2em;
    }
}

@media screen and (max-width: 991px) {
    .liquid-blog-item-split {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .liquid-blog-item-fullwidth {
        padding: 0 !important;
    }

    .liquid-blog-item-fullwidth .liquid-blog-item-inner {
        position: relative;
        top: auto;
        left: auto;
    }

    .liquid-lp-sp-block.liquid-lp-sp-instagram h3 {
        margin-left: 0;
        margin-right: 0;
    }
}

/* 3.14. Filter Lists */
@media screen and (min-width: 992px) {
    .liquid-filter-items {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row wrap;
    }

    .liquid-filter-items.align-items-center .filter-list {
        margin-bottom: 0;
    }

    .filter-list-inline li + li {
        margin-left: 1.45em;
    }
}

@media screen and (max-width: 991px) {
    .liquid-filter-items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: start !important;
        align-items: flex-start !important;
    }

    .liquid-filter-items-inner {
        width: 100%;
    }

    .liquid-filter-items-inner > * {
        margin-bottom: 30px !important;
    }

    .liquid-filter-items-inner .filter-list {
        width: 100%;
    }

    .liquid-filter-items-inner + .carousel-nav {
        margin-top: 0 !important;
    }

    .liquid-filter-items-label + .filter-list {
        margin-left: 0;
    }

    .filter-list-inline li {
        margin: 0 0.5em;
    }
}

@media screen and (max-width: 767px) {
    .filter-list {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row wrap;
    }

    .filter-list li {
        margin-bottom: 1em;
        text-align: center;
    }
}

/* 3.15. Fancy Boxes */
@media screen and (min-width: 992px) {
    .fancy-box-offer {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row wrap;
    }

    .fancy-box-offer .fancy-box-cell:first-child {
        -webkit-box-flex: 2;
        flex-grow: 2;
    }

    .fancy-box-offer .fancy-box-cell:last-child {
        -webkit-box-align: end;
        align-items: flex-end;
    }
}

@media screen and (max-width: 991px) {
    .fancy-box-offer {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row wrap;
    }

    .fancy-box-offer .fancy-box-cell {
        flex-basis: auto;
        margin-bottom: 1.5em;
    }

    .fancy-box-offer .fancy-box-cell:before {
        content: attr(data-text);
        margin-bottom: 0.5em;
    }

    .fancy-box-offer .fancy-box-header {
        flex-basis: 100%;
    }

    .fancy-box-offer-header {
        padding-bottom: 0;
    }

    .fancy-box-offer-header .fancy-box-cell:not(.fancy-box-header) {
        display: none;
    }

    .fancy-box-offer-header .fancy-box-header {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    .fancy-box-overlay {
        padding-bottom: 90%;
    }

    .fancy-box-travel.fancy-box-wide {
        padding-bottom: 50%;
    }

    .fancy-box-offer .fancy-box-cell {
        flex-basis: 50%;
    }

    .fancy-box-offer .fancy-box-header {
        flex-basis: 100%;
    }
}

/* 3.19. Reservation Form */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .liquid-form-reservation .input-container {
        flex-basis: 50%;
    }

    .liquid-form-reservation .input-container:nth-last-child(2) {
        padding-left: 0;
        border: none;
    }
}

@media screen and (max-width: 991px) {
    .liquid-form-reservation .input-container {
        flex-basis: 100%;
        padding: 0;
        border: none;
    }
}

/* 3.24. Instagram Feed */
@media screen and (max-width: 991px) {
    .liquid-ig-feed .liquid-ig-feed-list > li {
        flex-basis: 33.3333333333%;
    }

    [data-list-columns="1"] .liquid-ig-feed-list > li,
    a-list-columns="2"] .liquid-ig-feed-list > li {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 767px) {
    .liquid-ig-feed .liquid-ig-feed-list > li {
        flex-basis: 50%;
    }

    [data-list-columns="1"] .liquid-ig-feed-list > li,
    a-list-columns="2"] .liquid-ig-feed-list > li {
        flex-basis: 100%;
    }
}

/* 3.27. Image Groups */
@media screen and (min-width: 992px) {
    .liquid-img-group-browser {
        margin-left: 3.5em;
    }

    .liquid-img-group-browser figure {
        height: 91%;
        top: 9%;
    }

    .liquid-img-group-content.content-fixed-right,
    uid-img-group-content.content-fixed-left {
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
    }

    .liquid-img-group-content.content-fixed-right p,
    uid-img-group-content.content-fixed-left p {
        margin-bottom: 0;
    }

    .liquid-img-group-content.content-fixed-left {
        margin-right: 1.5em;
    }

    .liquid-img-group-content.content-fixed-right {
        -webkit-box-ordinal-group: 2;
        order: 1;
        margin-left: 1.5em;
    }
}

@media screen and (max-width: 991px) {
    .liquid-img-group-img-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .liquid-img-group-content {
        -webkit-box-ordinal-group: 3;
        order: 2;
        margin-top: 1em;
    }

    .liquid-img-group-content.content-floated-mid-left,
    uid-img-group-content.content-floated-mid-right,
    uid-img-group-content.content-floated-mid {
        margin: 0;
        left: 50%;
    }

    .liquid-img-group-content.content-floated-mid-left > .btn,
    uid-img-group-content.content-floated-mid-right > .btn,
    uid-img-group-content.content-floated-mid > .btn {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .liquid-img-group-browser {
        margin-bottom: 2em;
    }

    .liquid-img-group-browser .liquid-img-group-img-container {
        margin-bottom: 1.5em;
    }

    .liquid-img-group-browser .liquid-img-group-url {
        height: 7.5%;
    }
}

@media screen and (max-width: 767px) {
    .liquid-img-group-browser .liquid-img-group-url {
        display: none;
    }
}

/* 3.31. Masonry */
@media screen and (max-width: 991px) {
    .masonry-item:not([class*=col-sm-]) {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .masonry-item:not([class*=col-xs-]) {
        width: 100%;
    }
}

/* 3.33. Team Members */
@media screen and (max-width: 479px) {
    .ld-tm-circ .ld-tm-avatar img {
        width: 50px;
    }
}

/* 3.34. Portfolios */
@media screen and (min-width: 1200px) {
    .carousel-item .pf-hover-shadow {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 1200px) {
    .pf-info hr {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .pf-single-header.bg-solid {
        padding-left: 50px;
        padding-right: 50px;
    }

    .pf-single-header.pull-up {
        margin-top: -60px;
    }
}

/* 3.35. Blog */
@media screen and (min-width: 1200px) and (max-width: 1440px) {
    .has-sidebar .blog-single-content.expanded {
        margin-left: -14%;
    }
}

@media screen and (min-width: 1200px) {
    .blog-single-cover[data-fullheight=true] {
        height: 87vh;
    }

    .blog-single-cover[data-fullheight=true] .blog-single-media {
        height: 100%;
    }

    .blog-single-cover[data-fullheight=true] .cover-carousel,
    g-single-cover[data-fullheight=true] .cover-carousel .carousel-items,
    g-single-cover[data-fullheight=true] .cover-carousel .flickity-viewport,
    g-single-cover[data-fullheight=true] .cover-carousel .carousel-item-inner,
    g-single-cover[data-fullheight=true] .cover-carousel .carousel-item {
        height: 100% !important;
    }

    .blog-single-cover .blog-single-details {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .blog-single-cover.spaced {
        margin-left: 50px;
        margin-right: 50px;
    }

    .blog-single-content.expanded {
        padding-left: calc(26%);
        padding-right: calc(26%);
        margin-right: calc(-26%);
        margin-left: calc(-26%);
    }

    .blog-single-content.pull-up {
        margin-top: -6.8181818182em;
        background-color: #fff;
    }

    .post-has-no-content .blog-single-content.pull-up {
        margin-top: 0;
    }

    .blog-single-content .stretch-to-sides {
        margin-left: -26%;
        margin-right: -26%;
    }

    .blog-single-content .fullwidth figcaption {
        width: 40%;
    }

    .post-nav,
    g-single-footer {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row wrap;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .blog-single-footer > ul,
    g-single-footer > span {
        max-width: 50%;
    }

    .post-nav .nav-previous,
    t-nav .nav-next {
        max-width: 40%;
    }

    .has-sidebar .blog-single-content.expanded {
        padding-right: 13%;
        padding-left: 13%;
        margin-right: -13%;
        margin-left: -13%;
    }

    .blog-single-post-has-not-thumbnail .blog-single-content.pull-up {
        margin-top: 0;
        padding-top: 5em;
    }

    .blog-single-post-has-not-thumbnail .lqd-main-header-default + .content .blog-single-content.pull-up {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (min-width: 992px) {
    .post-meta {
        margin-bottom: 3.75em;
    }

    .blog-single-details-extra h3 {
        margin-bottom: 2em;
    }

    .has-sidebar .blog-single-content .fullwidth {
        width: 100%;
        right: 0;
        left: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .has-sidebar .blog-single-content .fullwidth figcaption {
        width: 70%;
    }

    .has-sidebar .blog-single-content .stretch-to-sides {
        margin-left: -13%;
        margin-right: -13%;
    }

    .has-sidebar .blog-single-content.expanded .fullwidth {
        width: 126%;
        right: -13%;
        left: -13%;
        margin-right: -13%;
    }
}

@media screen and (max-width: 991px) {
    .blog-single-details-extra .carousel-thumbs .carousel-item {
        width: 33.3333333333%;
    }

    .post-meta {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .post-meta > span {
        margin: 0 0 1em !important;
    }

    .post-meta > span:last-child {
        margin: 0 !important;
    }

    .post-nav,
    g-single-footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .blog-single-cover.spaced {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media screen and (max-width: 767px) {
    .blog-single-details-extra .carousel-thumbs .carousel-item {
        width: 50%;
    }
}

@media screen and (max-width: 479px) {
    .pingback .comment-meta {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: start;
        align-items: flex-start;
    }

    .pingback time {
        margin: 0 0 1em;
    }
}

@media screen and (max-width: 1199px) {
    .blog-single-default .blog-single-cover {
        margin-bottom: 2.5em;
    }

    .blog-single-default .blog-single-media {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .blog-single-default .blog-single-details {
        padding: 10em 0;
    }
}

@media screen and (min-width: 1200px) {
    .blog-single-image-left:not(.has-sidebar) .blog-single-cover {
        float: left;
        width: 470px;
        margin-left: -26%;
        margin-right: 17%;
    }

    .blog-single-image-left:not(.has-sidebar) .blog-single-details {
        margin-right: -26%;
    }
}

@media screen and (min-width: 1200px) {
    .blog-single-cover-fade .post-meta {
        margin-bottom: 0;
    }
}

/* 3.38. Liquid Fancy Heading */
@media screen and (min-width: 1200px) {
    .ld-fancy-heading [data-split-text] {
        visibility: hidden;
    }

    .ld-fancy-heading [data-split-text].split-text-applied {
        visibility: visible;
    }
}

/* 3.45. Shop Banner */
@media screen and (min-width: 992px) {
    .ld-shop-banner-style1 {
        padding-bottom: 90.091%;
    }

    .ld-shop-banner-style1 .ld-shop-banner-carousel-main,
    shop-banner-style1 .ld-shop-banner-carousel-main .carousel-items,
    shop-banner-style1 .ld-shop-banner-container,
    shop-banner-style1 .ld-shop-banner-inner,
    shop-banner-style1 .ld-shop-banner-image {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .ld-shop-banner-style1 .ld-shop-banner-carousel-main .flickity-viewport {
        height: 100% !important;
    }

    .ld-shop-banner-style1 .ld-shop-banner-carousel-main .carousel-item-inner,
    shop-banner-style1 .ld-shop-banner-carousel-main .carousel-item {
        height: 100%;
    }
}

@media screen and (max-width: 991px) {
    .ld-shop-banner-style1 .liquid-overlay-link {
        bottom: 50%;
        height: auto;
        -webkit-transform: none;
        transform: none;
    }

    .ld-shop-banner-style1 .ld-shop-banner-image {
        -webkit-transition: box-shadow 0.3s;
        transition: box-shadow 0.3s;
    }

    .ld-shop-banner-style1 .ld-shop-banner-carousel-nav {
        width: 100%;
        height: auto;
        margin-top: 1em;
        position: relative;
        bottom: auto;
        right: auto;
        -webkit-transform: none;
        transform: none;
    }

    .ld-shop-banner-style1 .ld-shop-banner-carousel-nav .carousel-item {
        width: 25%;
        opacity: 1;
        visibility: visible;
        -webkit-transform: none;
        transform: none;
    }

    .ld-shop-banner-style1:hover .ld-shop-banner-image {
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    }

    .ld-shop-banner-style1:hover .ld-shop-banner-inner {
        box-shadow: none;
    }
}

@media screen and (max-width: 767px) {
    .ld-shop-banner-style1 .ld-shop-banner-carousel-nav .carousel-item {
        width: 33.3333333333% !important;
    }
}

/* 3.48. Modal */
@media screen and (min-width: 992px) {
    .featherlight-content > iframe.featherlight-inner {
        min-width: 850px;
    }
}

/* 3.50. Process Box */
@media screen and (max-width: 991px) {
    [class*=vc_col-md] .ld-pb-top:after {
        content: none;
    }
}

@media screen and (max-width: 767px) {
    [class*=vc_col-sm] .ld-pb-top:after {
        content: none;
    }
}

/* 3.56. Roadmap */
@media screen and (max-width: 767px) {
    .one-roadmap {
        padding-left: 25px;
        padding-right: 25px;
    }

    .one-roadmap:before {
        top: 15px;
        right: 15px;
        left: 15px;
        bottom: 15px;
    }

    .one-roadmap-info {
        max-width: 85%;
    }
}

/* 3.57. Countdown */
@media screen and (max-width: 991px) {
    .countdown .countdown-section {
        flex-basis: 45%;
        margin: 0.2352941176em 0;
    }

    .countdown .countdown-section:nth-child(3) + .countdown-sep {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .countdown .countdown-section {
        flex-basis: 100%;
    }

    .countdown .countdown-sep {
        display: none;
    }
}

/* 3.59. Bullet List */
@media screen and (max-width: 767px) {
    .one-bullet-list .inline-nav {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row wrap;
        -webkit-box-align: center;
        align-items: center;
    }

    .one-bullet-list .inline-nav li {
        margin-left: 0 !important;
        -webkit-box-align: center;
        align-items: center;
        width: 50%;
    }
}

/* 3.62. Promo */
@media screen and (min-width: 992px) {
    .lqd-promo-alt .lqd-promo-cat {
        margin-left: -100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        flex-direction: row-reverse;
    }

    .lqd-promo-alt .lqd-promo-cat:before {
        margin-left: 1em;
        margin-right: 0;
    }

    .lqd-promo-alt .lqd-promo-content {
        width: 25%;
        text-align: right;
        -webkit-box-align: end;
        align-items: flex-end;
    }

    .lqd-promo-alt .lqd-promo-content h2 {
        margin-right: 0;
        margin-left: -100%;
    }

    .lqd-promo-alt .lqd-promo-img {
        width: 75%;
    }

    .lqd-promo-alt .lqd-promo-img-inner {
        margin-left: -10%;
    }

    .lqd-promo-reverse .lqd-promo-inner {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        flex-direction: row-reverse;
    }

    .lqd-promo-reverse.lqd-promo-alt .lqd-promo-cat {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        margin-left: 0;
        margin-right: -100%;
    }

    .lqd-promo-reverse.lqd-promo-alt .lqd-promo-cat:before {
        margin-left: 0;
        margin-right: 1em;
    }

    .lqd-promo-reverse.lqd-promo-alt .lqd-promo-content {
        text-align: left;
        -webkit-box-align: start;
        align-items: flex-start;
    }

    .lqd-promo-reverse.lqd-promo-alt .lqd-promo-content h2 {
        margin-left: 0;
        margin-right: -100%;
    }

    .lqd-promo-reverse.lqd-promo-alt .lqd-promo-img-inner {
        margin-left: 0;
        margin-right: -10%;
    }
}

@media screen and (min-width: 1200px) {
    .lqd-promo-inner {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row wrap;
    }

    .lqd-promo-alt .lqd-promo-content h2 {
        font-size: 72px;
    }

    .lqd-promo-reverse .lqd-promo-cat {
        margin-right: 0;
        margin-left: 15px;
    }

    .lqd-promo-reverse .lqd-promo-content {
        padding-left: 0;
        padding-right: 15px;
    }

    .lqd-promo-reverse:not(.lqd-promo-alt) .lqd-promo-content {
        -webkit-box-align: end;
        align-items: flex-end;
        text-align: right;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1580px) {
    .header-style-side.lqd-stack-initiated .lqd-promo-alt .lqd-promo-content h2 {
        font-size: 60px;
    }
}

@media screen and (max-width: 1199px) {
    .lqd-promo-img {
        width: 58.75%;
    }

    .lqd-promo-content {
        padding-top: 50px;
        padding-bottom: 0;
    }

    .lqd-promo-content h2 {
        font-size: 100px;
    }

    .lqd-promo-alt .lqd-promo-content h2 {
        font-size: 60px;
    }
}

@media screen and (max-width: 991px) {
    .lqd-promo-cat {
        -webkit-writing-mode: inherit;
        -ms-writing-mode: inherit;
        writing-mode: inherit;
    }

    .lqd-promo-cat ul {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        margin: 0;
        margin-bottom: 15px;
    }

    .lqd-promo-content,
    -promo-cat,
    -promo-img {
        width: 100%;
    }

    .lqd-promo-cat {
        margin-right: 0;
    }

    .lqd-promo-img-inner {
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
    }

    .lqd-promo-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .lqd-promo-content {
        padding-top: 30px;
        padding-left: 0;
        padding-right: 0;
    }

    .lqd-promo-content h2 {
        margin: 0 0 0.25em;
        font-size: 62px;
    }
}

@media screen and (max-width: 767px) {
    .lqd-promo-dynamic-shape {
        display: none;
    }

    .lqd-promo-wrap {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .lqd-promo-content {
        text-align: center;
        -webkit-box-align: center;
        align-items: center;
    }

    .lqd-promo-content h2 {
        font-size: 10vw;
    }

    .lqd-promo-cat::before {
        content: none !important;
    }
}

/* 4. VC SHORTCODES */
/* 4.2. Columns */
.col-1\/5 {
    width: 20%;
}

@media (min-width: 768px) {
    .col-sm-1\/5 {
        width: 20%;
    }
}

@media (min-width: 992px) {
    .col-md-1\/5 {
        width: 20%;
    }
}

@media (min-width: 1200px) {
    .col-lg-1\/5 {
        width: 20%;
    }
}

@media screen and (min-width: 1200px) {
    .stretch-to-right {
        margin-right: -22vw !important;
    }

    .stretch-to-left {
        margin-left: -22vw !important;
    }
}

@media screen and (max-width: 767px) {
    .d-flex > .lqd-column:not([class*=col-xs-]) {
        width: 100%;
    }
}

/* 5. PARTIALS */
/* 5.4. Page Frame */
@media screen and (min-width: 1200px) {
    .lqd-page-frame {
        position: absolute;
        z-index: 3;
        background-color: var(--color-primary);
    }

    .lqd-page-frame[data-orientation=h] {
        left: 0;
        width: 100%;
        height: 20px;
    }

    .lqd-page-frame[data-orientation=v] {
        top: 0;
        width: 20px;
        height: 100%;
    }

    .lqd-page-frame-top {
        top: 0;
        -webkit-transform-origin: center top;
        transform-origin: center top;
    }

    .lqd-page-frame-right {
        right: 0;
        -webkit-transform-origin: right center;
        transform-origin: right center;
    }

    .lqd-page-frame-bottom {
        bottom: 0;
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
    }

    .lqd-page-frame-left {
        left: 0;
        -webkit-transform-origin: left center;
        transform-origin: left center;
    }

    .page-has-frame #wrap {
        padding: 20px;
    }

    .page-has-frame .is-stuck {
        left: 20px;
        right: 20px;
    }

    .page-has-frame .megamenu.megamenu-fullwidth .nav-item-children {
        width: calc( 100vw - 40px );
        left: calc(50% + 10px) !important;
        right: calc(50% + 10px) !important;
        margin-left: calc(-50vw + 10px) !important;
        margin-right: calc(-50vw + 10px) !important;
    }

    .page-has-frame .megamenu.megamenu-fullwidth .megamenu-container {
        width: calc( 100vw - 40px ) !important;
    }
}
}